:root {
  --ColorBlue: #73DDFF;
  --ColorYellow: #FFFFA8;
  --ColorDarkGreen: #00E66D;
  --ColorLightGreen:#83FFBE;
  --ColorOlive: #9AE600;
}

/// main page if registry


/// main page if non registry


/// templates for creating pages

